.criteria__help {
    background: #ADF;
    border: 1px solid #69B;
    display: block;
    padding: 1em;
    text-align: center;
}

.criteria__help-icon {
    background: #FFF;
    border-radius: 100%;
    color: #69b;
    font-size: 1.5em;
    line-height: 0.8em;
    margin: 0 0.5em 0 0;
    vertical-align: bottom;
    width: 0.8em;
}

.criteria__selector {
    cursor: pointer;
}

.protocols-estimating-user-pain-criteria tr:hover td,
.criteria__selector:hover {
    background-color: lightyellow;
}

.criteria__selector--selected,
.criteria__selector--selected:hover,
.criteria__selector--selected td,
.criteria__selector--selected:hover td {
    border-color: #69B;
    background-color: #ADF;
}

/* Adding <input> selector to overwrite `.markdown-body input` from the GH style */
input.criteria__score {
    font-size: 10em;
    max-width: 100%;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    top: 0;
}

.criteria__summary {
    display: block;
    font-size: 1em;
    height: 4em;
    max-width: 100%;
    position: -webkit-sticky;
    position: sticky;
    resize:none;
    text-align: center;
    top: 15em;
    width: 100%;
}

/*EOF*/
