<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <!-- @TODO: link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" / -->
  <link rel="stylesheet" media="all" href="https://pother.ca/CssBase/css/ribbon.css" />
  <link rel="stylesheet" href="https://sindresorhus.com/github-markdown-css/github-markdown.css">
  <style>
    .markdown-body {
      box-sizing: border-box;
      min-width: 200px;
      max-width: 980px;
      margin: 0 auto;
      padding: 45px;
      position: relative;
    }

     ol.breadcrumbs {
       padding: 0;
     }
    .breadcrumbs__item {
      display: inline-block;
    }
    .breadcrumbs__item:before {
      /* Uses » to separate breadcrumbs */
      content: '\00BB';
    }
    .breadcrumbs__item:first-child:before {
      display: none;
    }
  </style>
</head>

<body>


<article class="markdown-body">

    {% include breadcrumb.lqd %}

    <div class="container">
      {{ content }}
    </div>
  </article>

  <div class="banner banner-right banner-fixed">
      <a href="{{ site.github.repository_url }}/tree/master/{{ page.path }}">View on github</a>
  </div>
</body>
</html>
